<h1>Photogur</h1>

<%= link_to "New Photo", new_photo_path(@photo)  %>
<h2>Newest Photos</h2>
<% @most_recent_photos.each do |photo|%>
	<%= link_to (image_tag photo.url), photo %>
	<%= photo.title  %>
	<%= photo.author %>
<% end %>

<h2>1 month old</h2>

<p>There are <%= Photo.created_before(1.month.ago).count %> photos older than 1 month</p>

<% unless Photo.created_before(1.month.ago).empty? %>
  <%= Photo.created_before(1.month.ago).each do |photo|%>
    <%= link_to (image_tag photo.url), photo %>
    <%= photo.title  %>
    <%= photo.author %>
  <% end %>
<% end %>

